<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Portfolio</title>
    <link rel="stylesheet" th:href="@{/css/contract/list.css}">
</head>
<body>
    <h1>Contract管理システム</h1>
    <h2>Contract一覧(2025年3月～2026年4月まで)</h2>
    <a th:href="@{/contract/register}">Contractの登録</a>　<!--/*追加：登録画面へのリンク　*/-->
    <table>
        <tr>
            <th>ID</th>
            <th>年月</th>
            <th>通貨</th>
            <th>金額</th>
           <!-- 追加ここから -->
            <th>更新</th><!-- 追加：欄のタイトルを追加-->
            <!-- 追加ここまで -->

        </tr>
        <tr th:each="contract : ${contractlist}">
            <td th:text="${contract.id}"></td>
            <td th:text="${contract.yearmonth}"></td>
            <td th:text="${contract.currency}"></td>
            <td th:text="${contract.price}"></td>
            <!-- 追加ここから -->
            <td>
                <a th:href="@{/contract/update/{id}/(id=${contract.id})}">更新</a>   <!-- 追加：更新欄にURLを表示-->
            </td>
            <!-- 追加ここまで -->
        </tr>
    </table>
</body>
</html>