<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Portfolio</title>
    <link rel="stylesheet" th:href="@{/css/contract/update.css}">                    <!--/* 登録画面のcssも変更 */-->
</head>

<body>
    <h1>Contract管理システム</h1>
    <h2>Contract更新</h2>
    <form method="post" th:action="@{/contract/update/{id}/(id=${contract.id})}" th:object="${contract}"> <!--/* 送信ボタンをクリックすると、入力した値は/contract/update/idに送信される*/-->
        <label for="id">ID</label>                                               <!--/* 「ID」を表示　*/-->
        <input type="hidden" id="id" name="id" th:value="*{id}" th:text="*{id}"> <!--/* idの値を隠し項目として保持（表示されるだけ */-->
        <br>
        <label for="yearmonth">年月</label>                                       <!--/* 「年月」を表示　*/-->
        <input type="text" th:field="*{yearmonth}">                              <!--/* 「年月」の入力画面（□）を表示 */-->
        <br>
        <label for="currency">通貨</label>                                        <!--/* 「通貨」を表示　*/-->
        <input type="text" th:field="*{currency}">                               <!--/* 「通貨」の入力画面（□）を表示 */-->
        <br>
        <label for="price">年齢</label>                                           <!--/* 「金額」を表示　*/-->
        <input type="text" th:field="*{price}">                                  <!--/* 「金額」の入力画面（□）を表示 */-->
        <br>
        <br>
        <input type="submit" value="更新実行">                                 　　　<!--/* 「更新実行」ボタン を表示*/-->
        <a th:href="@{/user/list}">更新せずに一覧に戻る</a>                           <!--/* 「更新せずに一覧に戻る」を表示*/-->
    </form>
</body>
</html>
